
$Primary:#2d8cf0;
$Light-Primary:#5cadff;
$Dark-Primary:#2b85e4;
$Success:#19be6b;
$Warning:#ff9900;
$Error:#ed4014;

$Text1:#17233d;
$Text2:#515a6e;
$Text3:#808695;
$Text4:#dcdee2;
$Text5:#e8eaec;

$Background:#f8f8f9;